<h1 style="color: blue">Api crud Departamentos</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Departamentos" asp-action="ApiClienteAjax"> API crud Cliente</a>
    </li>

    <li class="list-group-item">
        <a asp-controller="Departamentos" asp-action="ListDepartamentos"> API crud Servidor</a>
    </li>
</ul>