<h1>Log In API Empleado</h1>

<form method="post">
    <label>Apellido</label>
    <input type="text" name="username" placeholder="Apellido" class="form-control" />

    <label>PAssword</label>
    <input type="password" name="password" placeholder="Password"  class="form-control"/>
    <button type="submit" class="btn btn-success">LogIn</button>
</form>
<h2 style="color:red">@ViewData["MENSAJE"]</h2>