<h1 style="color:burlywood">Create container</h1>

<form method="post">
    <label>Container name:</label>
    <input type="text" name="containername" placeholder="container name" class="form-control" />
    <button type="submit" class="btn btn-info">Create</button>
</form>