<h1>Upload blob</h1>

<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="containername" value="@ViewData["CONTAINERNAME"]" />
    <input type="file" name="blobfile" class="form-control" />
    <button type="submit" class="btn btn-info">Upload</button>
</form>